* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.orange-color {
  color: rgb(255, 102, 0);
}

/* nawigacja */

.navbar-brand {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.nav-link,
.navbar-toggler-icon {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar-toggler {
  padding: 0.8em 1.8em;
}

.home {
  position: relative;
  background-image: url("../img/buildings-1850129_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 60rem;
  z-index: 0;
}

.home .btn {
  padding: 1em 2em;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.home .welcome-text {
  font-size: 2rem;
}

/* sekcja about us */

.aboutus-box h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.about-icon {
  font-size: 4rem;
}

.accordion-button {
  padding: 1em;
  font-size: 1.8rem;
}

.accordion-buton:not(.collapsed) {
  background-color: rgb(248, 248, 248);
}

/* team */

.team {
  background-color: rgb(248, 248, 248);
}

.team .card-img-top {
  height: 100px;
  object-fit: cover;
}

.team .card-title {
  font-size: 2rem;
}
